.title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.title--login {
  margin-top: 20vh;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
}

.login-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form__field-input {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 184px;
  height: 30px;
  border: none;
  padding: 0px 10px;
}

.login-form__btn {
  width: 204px;
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, color-stop(29%, #b7b2ff), to(#00d4ff));
  background: linear-gradient(90deg, #b7b2ff 29%, #00d4ff 100%);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.logout {
  color: #b7b2ff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #b7b2ff;
  border-radius: 3px;
  padding: 5px 10px;
  position: relative;
  top: 15px;
  left: 10px;
  -webkit-transition: background-color 1s ease, color 0.3s ease;
  transition: background-color 1s ease, color 0.3s ease;
}

.logout:hover {
  background-color: #b7b2ff;
  color: #191919;
}

.error {
  color: red;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.error-login {
  text-align: center;
  color: #fd9090;
  font-weight: 400;
  font-size: 16px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 8px;
  top: 9px;
  position: absolute;
}

.form--upload {
  text-align: center;
}

.form__input {
  padding: 3px 10px;
  border: none;
  width: 130px;
}

.form__button {
  background-color: #9dadffc0;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #2b2b2b;
  cursor: pointer;
  padding: 3px 10px;
  text-transform: uppercase;
}

.form__button--upload {
  margin-top: 10px;
}

.table {
  border: 1px solid black;
  min-height: 28px;
}

.table__nav {
  position: absolute;
  top: 10px;
  color: #9daeff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.table__nav--create-new {
  right: 20px;
  position: absolute;
  background-color: #9dadffc0;
  border: none;
  border-radius: 3px;
  color: #2b2b2b;
  cursor: pointer;
  padding: 3px 10px;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__row-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 10px;
  font-weight: 600;
  color: #9c9c9c;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.table__row-right {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  color: #ccc;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: #727272;
  border-bottom: 1px solid black;
  position: relative;
}

.table__row-form {
  margin-left: auto;
}

.table__row-btn {
  color: #ccc;
  cursor: pointer;
  background-color: transparent;
  border-left: 1px solid black;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  right: 103px;
  top: 0;
  bottom: 0;
  position: absolute;
  padding: 0 10px;
  padding-top: 6px;
}

.table__row-btn:hover {
  background-color: #c57e7e;
}

.table__row-btn--download {
  right: 0;
}

.table__row-btn--download:hover {
  background-color: #659574;
}

.table__row-btn--hidden {
  display: none;
}

.table__row-link {
  text-decoration: none;
  color: #e4e4e4;
  cursor: pointer;
  font-weight: 600;
}

body {
  background-color: #191919;
  color: white;
}

.container {
  background-color: #303030;
  border-radius: 3px;
  font-size: 14px;
  width: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 35px 5px 5px;
  margin-top: 10px;
}

.success {
  text-align: center;
  color: #c0ffd3;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
}

.failed {
  text-align: center;
  color: #fd9090;
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0 10px;
}
/*# sourceMappingURL=style.css.map */