@import "./style/title";
@import "./style/login-form";
@import "./style/logout";
@import "./style/error";
@import "./style/form";
@import "./style/table";

body {
  background-color: #191919;
  color: white;
}

.container {
  background-color: #303030;
  border-radius: 3px;
  font-size: 14px;
  width: 45%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 35px 5px 5px;
  margin-top: 10px;
}

.success {
  text-align: center;
  color: #c0ffd3;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-top: -10px;
}
