.logout {
  color: #b7b2ff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #b7b2ff;
  border-radius: 3px;
  padding: 5px 10px;
  position: relative;
  top: 15px;
  left: 10px;
  transition: background-color 1s ease, color 0.3s ease;

  &:hover {
    background-color: #b7b2ff;
    color: #191919;
  }
}
